@model CombinedViewModel

<head>
	<link href="@Url.Content("~/css/Edit.css")" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="Box">
        
            @using (Html.BeginForm("EditBook", "Books", FormMethod.Post))
                {
                @Html.HiddenFor(model => model.EditBook.BookID)

            <div class="row">
                <div class="col">
                    <label>Título</label> 
                    <input asp-for="EditBook.Title" class="form-control" />
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col">
                    <label>Año</label>
                    <input asp-for="EditBook.Year" class="form-control" />
                </div>
            </div>

            @* Authors *@
            <div class="row justify-content-center">
                <div class="col">
                    <label>Autor</label>
                    <input asp-for="EditBook.AuthorID" class="form-control" readonly />
                </div>
            </div>

            <div class="row mt-1">
                <div class="col">
                    <label>ISBN</label>
                    <input asp-for="EditBook.ISBN" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label>Editorial</label>
                    <input asp-for="EditBook.Editorial" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label>Páginas</label>
                    <input asp-for="EditBook.Pages" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label>Formato</label>
                    <input asp-for="EditBook.Format" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label>Sinopsis</label>
                    <input asp-for="EditBook.Synopsis" class="form-control"/>
                </div>
            </div>

            <div class="button-group">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
            }
    </div>
</body>