<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width"/>
		<link href="~/lib/boostrap/css/bootstrap.css" rel="stylesheet"/>

		<title>@ViewBag.Title</title>
	</head>
	<body>
		<div>
			@RenderBody()
		</div>
		<script src="~/lib/boostrap/js/bootstrap.js"></script>
	</body>
</html>